<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>FitnessTracker</string>
    <key>CFBundleIdentifier</key>
    <string>Spruce.FitnessTracker</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>NSHealthShareUsageDescription</key>
    <string>We need access to your health data to track your steps.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>We need to update your health data for tracking.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>processing</string>
    </array>
</dict>
</plist>
