<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Heracle</string>
    <key>CFBundleName</key>
    <string>Heracle</string>
    <key>CFBundleIdentifier</key>
    <string>Spruce.FitnessTracker</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>NSHealthShareUsageDescription</key>
    <string>We need access to your health data to track your steps.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>We need to update your health data for tracking.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>processing</string>
    </array>
    <key>NSSupportsLiveActivities</key>
    <true/>
    <key>NSSiriUsageDescription</key>
    <string>This app integrates with Siri to quickly start your workouts using voice commands.</string>
    <key>NSUserActivityTypes</key>
    <array>
        <string>com.spruce.fitnessTracker.startWorkout</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>Spruce.FitnessTracker</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>Spruce.FitnessTracker</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
